@font-face {
  font-family: "CrimsonPro-ExtraLight";
  src: url("../assets/fonts/CrimsonPro-ExtraLight.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
  font-family: "CrimsonPro-Light";
  src: url("../assets/fonts/CrimsonPro-Light.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}

* {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
    font-family: "CrimsonPro-Light";
    font-weight: lighter;
    line-height: 1.2;
    text-indent: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  
  }
  
  html {
    overflow: hidden;
  }
  
  html,
  body {
    overscroll-behavior-x: none;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg-color);
    position: relative;
    overflow-x: hidden;
    background-color: rgb(255, 250, 251);
  }

/* header */
footer {
    position: fixed;
    width: 100%;
    height: 3.7481vh;
    padding: 1.5em;
    bottom: 15px;
    align-items: baseline;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9178824972) 28%, rgba(255, 255, 255, 0) 100%);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(59, 59, 59);
    bottom: 1rem;
  }
  
  li {
    display: inline;
  }
  
  li a {
    text-decoration: none;
    margin-right: 14.7%;
    transition: all 0.1s linear 0s;
  }
  
  li a:hover {
    color: violet;
  }


.box {
    position: relative;
    float: left;
    min-width: auto;
    height: auto;
    min-height: auto;
    padding: 0.8em;
    margin:12px;
    overflow: hidden;
  }

  /*数盒子*/

.box {
  counter-increment: boxes;
}

p {
  counter-increment: myCounter;
}

p:before {
  content: "< " counter(boxes) " >";
}


/* 最小 */
@media only screen and (min-width: 300px) {

  
  #i .box {
    width: 90%;
    height: auto;
  }

}

@media only screen and (min-width: 800px) {

  
  #i .box {
    width: 40%;
    height: auto;
  }

}
@media only screen and (min-width: 1000px) {

  
  #i .box {
    width: 33%;
    height: auto;
  }

}