@font-face {
  font-family: "CrimsonPro-ExtraLight";
  src: url("../assets/fonts/CrimsonPro-ExtraLight.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CrimsonPro-Light";
  src: url("../assets/fonts/CrimsonPro-Light.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
    font-family: "CrimsonPro-Light";
    color: rgb(48, 48, 48);
    text-indent: 0;
    line-height: 1.2;
  
  }
  
  html,
  body {
    overscroll-behavior-x: none;
  }
  
  body {
    margin: 8px;
    background-color: rgb(255, 250, 251);
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  }

  /* header */
header {
    top: 0;
    left: 0;
    padding: 1.5em;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  
  .contact,
  .about {
    text-indent: -0.4rem;
    width: 49%;
  }
  
  /* footer */
  footer {
    position: fixed;
    left:0;
    width: 100%;
    padding: 1.5em;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9178824972) 28%, rgba(255, 255, 255, 0) 100%);
  }
  
  .copyright {
    font-size: .625rem
      /* 10/16 */
    ;
    color: rgb(128, 128, 128);
    text-align: right;
    width: 100%;
  }

#mobilephoto{
  display: none;
}

  /* 自适应 */
/* 最小 */
@media only screen and (max-width: 600px) {

  #i a,
  #i .box {
    width: 90%;
    min-height: 110px;
    height: auto;
  }
  
}

@media only screen and (min-width: 600px) {

  #i a,
  #i .box {
    width: 50%;
    min-height: 110px;
    height: auto;
  }

}

@media only screen and (min-width: 700px) {

  #i a,
  #i .box {
    width: 30%;
    min-height: 100px;
    height: auto;
  }

}

@media only screen and (min-width: 900px) {

  #i a,
  #i .box {
    width: 23%;
  }

}


@media only screen and (min-width: 1400px) {

  #i a,
  #i .box {
    width: 16.5%;
    
  }
}

/* box details */
@media only screen and (max-width: 768px) {
  #i .box h1 {
    width: 69%;
  }
}

@media only screen and (max-width: 1400px) {
  #i .box p:first-of-type{
    font-size: 0.8em;
    width: 92%;
    height:4vh;
  }
}
@media only screen and (max-width: 2000px) {
  #i .box p:first-of-type{
    font-size: 0.8em;
    width: 95%;
    height:auto;
  }
}

  