@font-face {
  font-family: "CrimsonPro-ExtraLight";
  src: url("../assets/fonts/CrimsonPro-ExtraLight.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
  font-family: "CrimsonPro-Light";
  src: url("../assets/fonts/CrimsonPro-Light.woff2") format("woff2"), url("../assets/fonts/CrimsonPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
    font-family: "CrimsonPro-Light";
    color: rgb(48, 48, 48);
    text-indent: 0;
    line-height: 1.2;
  
  }
  
  html,
  body {
    overscroll-behavior-x: none;
  }
  
  body {
    margin: 8px;
    background-color: rgb(255, 250, 251);
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  }

  /* header */
header {
    top: 0;
    left: 0;
    padding: 1.5em;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  
  .contact,
  .about {
    text-indent: -0.4rem;
    width: 49%;
  }
  
  
  /* footer */
  footer {
    position: fixed;
    left:0;
    width: 100%;
    padding: 1.5em;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9178824972) 28%, rgba(255, 255, 255, 0) 100%);
  }
  
  .copyright {
    font-size: .625rem
      /* 10/16 */
    ;
    color: rgb(128, 128, 128);
    text-align: right;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    color: rgb(59, 59, 59);
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  li a {
    text-decoration: none;
    margin-right: 14.7%;
    transition: all 0.1s linear 0s;
  }
  
  li a:hover {
    color: violet;
  }
  